html {
    font-family: Tahoma, sans-serif;
  }

caption {
    
    background-color: #80ced6;
    box-shadow: 5px 8px 8px lightgray;
    
  }

table {
      box-shadow: 5px 8px 8px lightgrey;
      background-color: lightsteelblue;
      width: 25%;
      text-align: center;
      
  }

  tr th { 
      background-color: steelblue;
  }

  tr:nth-child(even)
    {background: rgb(226, 226, 226)}

  tr:nth-child(odd)
    {background: #FFF}

  caption-bottom {
    caption-side: bottom;
  }