html {
    font-family: Tahoma, sans-serif;
  }

caption {
    background-color: #80ced6;
    
  }

table {
      box-shadow: 2px gray;
      background-color: lightsteelblue;
      width: 25%;
      text-align: center;
      border-collapse: unset;
  }

  tr th { 
      background-color: steelblue;
  }

  tr:nth-child(even) {background: rgb(226, 226, 226)}
  tr:nth-child(odd) {background: #FFF}

  caption-bottom {
    caption-side: bottom;
  }