.gallery {
    margin: 10px 50px;
}

.gallery img {
    transition: 1s;
    padding: 15px;
    width: 200px;
}

.gallery img:hover{
    filter: opacity(0.5)
}

.gallery {
    padding: 15%;
    background: #8bb1d8;
}

.gallery-title {
    text-align: center;
}